In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pylab

import warnings
warnings.filterwarnings(action='ignore')

#### 선수 데이터

In [35]:
# 2018년도 선수 data 
P_18 = pd.read_csv('C:/Users/dudco/Desktop/2020bigcontest/2020_bigcontest_data/P_2018.csv',encoding='CP949')

In [36]:
# 선수 변수명 바꾸기 (PCODE -> P_ID)
P_18=P_18.rename({'PCODE':'P_ID'},axis='columns')

In [37]:
# 선수 데이터 변수 뽑아내기
P_18=P_18[['P_ID','NAME','T_ID','POSITION']]

In [57]:
P_18

      P_ID NAME T_ID POSITION
0    60100  백창수   HH        외
1    60105  배민관   LG        투
2    60140  신정락   LG        투
3    60146  이승현   SS        투
4    60181  김지용   LG        투
..     ...  ...  ...      ...
647  99445  권오준   SS        투
648  99563  김사율   KT        투
649  99606  정성훈   HT        내
650  99737  박정진   HH        투
651  99810  이진영   KT        외

[652 rows x 4 columns]

#### 개인타자 데이터

In [39]:
# 2018년도 개인타자 data
P_H_18 = pd.read_csv('C:/Users/dudco/Desktop/2020bigcontest/2020_bigcontest_data/P_H_2018.csv',encoding='CP949')

In [45]:
P_H_18

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,20180324HHWO0,20180324,HH,WO,0,T,60805,0,5,0,...,0,0,0,0,0,0,0,0.0,0,0
1,20180324HHWO0,20180324,WO,HH,0,B,61353,1,6,4,...,1,0,0,1,0,0,0,0.0,2,0
2,20180324HHWO0,20180324,HH,WO,0,T,62700,1,5,4,...,0,0,0,0,0,0,1,0.5,2,1
3,20180324HHWO0,20180324,HH,WO,0,T,62797,1,2,5,...,0,0,0,0,0,0,1,0.0,2,0
4,20180324HHWO0,20180324,WO,HH,0,B,64300,1,5,5,...,0,0,0,2,0,0,1,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,20181014OBLT0,20181014,LT,OB,0,B,76509,0,4,1,...,0,0,0,0,0,0,0,0.0,0,0
18220,20181014OBLT0,20181014,LT,OB,0,B,77532,1,3,4,...,0,0,0,1,1,0,0,0.0,0,0
18221,20181014OBLT0,20181014,LT,OB,0,B,78513,1,4,3,...,0,0,0,0,0,0,1,0.0,0,0
18222,20181014OBLT0,20181014,OB,LT,0,T,79215,1,3,4,...,0,0,0,0,0,0,0,0.0,0,0
18223,20181014OBLT0,20181014,OB,LT,0,T,79240,1,1,3,...,0,0,0,0,0,0,0,0.0,0,0

In [49]:
# 개인타자 데이터 변수 뽑아내기
PHS_18=P_H_18[['GDAY_DS','P_ID','T_ID','START_CK']]

In [52]:
PHS_18

        GDAY_DS   P_ID T_ID  START_CK
0      20180324  60805   HH         0
1      20180324  61353   WO         1
2      20180324  62700   HH         1
3      20180324  62797   HH         1
4      20180324  64300   WO         1
...         ...    ...  ...       ...
18219  20181014  76509   LT         0
18220  20181014  77532   LT         1
18221  20181014  78513   LT         1
18222  20181014  79215   OB         1
18223  20181014  79240   OB         1

[18224 rows x 4 columns]

#### 등록선수 데이터

In [53]:
EP_18 = pd.read_csv('C:/Users/dudco/Desktop/2020bigcontest/2020_bigcontest_data/EP_2018.csv',encoding='CP949')

In [54]:
EP_18

         GDAY_DS T_ID   P_ID ENTRY_YN
0       20180324   HH  60100        Y
1       20180324   LG  60105        N
2       20180324   LG  60140        Y
3       20180324   SS  60146        N
4       20180324   LG  60181        Y
...          ...  ...    ...      ...
116238  20181014   LT  79293        Y
116239  20181014   LT  79356        N
116240  20181014   OB  79530        N
116241  20181014   OB  79535        N
116242  20181014   LT  79545        Y

[116243 rows x 4 columns]

#### 등록선수, 개인타자, 선수 조인

In [55]:
EP_18 = pd.merge(EP_18, PHS_18, on=['GDAY_DS','P_ID', 'T_ID'], how='left')

In [58]:
EP_18 = pd.merge(EP_18, P_18, on=['P_ID', 'T_ID'], how='left')

In [59]:
EP_18

         GDAY_DS T_ID   P_ID ENTRY_YN  START_CK NAME POSITION
0       20180324   HH  60100        Y       NaN  백창수        외
1       20180324   LG  60105        N       NaN  배민관        투
2       20180324   LG  60140        Y       NaN  신정락        투
3       20180324   SS  60146        N       NaN  이승현        투
4       20180324   LG  60181        Y       NaN  김지용        투
...          ...  ...    ...      ...       ...  ...      ...
116279  20181014   LT  79293        Y       NaN  오현택        투
116280  20181014   LT  79356        N       NaN  박헌도        외
116281  20181014   OB  79530        N       NaN  양종민        내
116282  20181014   OB  79535        N       NaN  허준혁        투
116283  20181014   LT  79545        Y       NaN  진명호        투

[116284 rows x 7 columns]

In [60]:
# 선발타자만 뽑기
EPS_18=EP_18[EP_18['START_CK']==1]

In [61]:
EPS_18

         GDAY_DS T_ID   P_ID ENTRY_YN  START_CK NAME POSITION
31      20180324   LG  61102        Y       1.0  유강남        포
43      20180324   WO  61353        Y       1.0  고종욱        외
48      20180324   SS  61404        Y       1.0  김헌곤        외
62      20180324   SK  61869        Y       1.0  정진기        외
84      20180324   SS  62404        Y       1.0  구자욱        외
...          ...  ...    ...      ...       ...  ...      ...
116257  20181014   OB  76267        Y       1.0  최주환        내
116266  20181014   LT  77532        Y       1.0  손아섭        외
116270  20181014   LT  78513        Y       1.0  전준우        외
116273  20181014   OB  79215        Y       1.0  박건우        외
116277  20181014   OB  79240        Y       1.0  허경민        내

[12960 rows x 7 columns]

In [63]:
# 변수 만들기 (팀/ 이름/ 포지션)
EPS_18['Player']=EPS_18['T_ID']+'/'+EPS_18['NAME']+'/'+EPS_18['POSITION']

In [64]:
EPS_18

         GDAY_DS T_ID   P_ID ENTRY_YN  START_CK NAME POSITION    Player
31      20180324   LG  61102        Y       1.0  유강남        포  LG/유강남/포
43      20180324   WO  61353        Y       1.0  고종욱        외  WO/고종욱/외
48      20180324   SS  61404        Y       1.0  김헌곤        외  SS/김헌곤/외
62      20180324   SK  61869        Y       1.0  정진기        외  SK/정진기/외
84      20180324   SS  62404        Y       1.0  구자욱        외  SS/구자욱/외
...          ...  ...    ...      ...       ...  ...      ...       ...
116257  20181014   OB  76267        Y       1.0  최주환        내  OB/최주환/내
116266  20181014   LT  77532        Y       1.0  손아섭        외  LT/손아섭/외
116270  20181014   LT  78513        Y       1.0  전준우        외  LT/전준우/외
116273  20181014   OB  79215        Y       1.0  박건우        외  OB/박건우/외
116277  20181014   OB  79240        Y       1.0  허경민        내  OB/허경민/내

[12960 rows x 8 columns]

In [76]:
pd.crosstab([EPS_18.ENTRY_YN,EPS_18.Player],EPS_18.GDAY_DS)

GDAY_DS            20180324  20180325  20180327  20180328  20180329  20180330  \
ENTRY_YN Player
Y        HH/강경학/내         0         0         0         0         0         0
         HH/강상원/외         0         0         0         0         0         0
         HH/김민하/외         0         0         0         0         0         0
         HH/김창혁/포         0         0         0         0         0         0
         HH/김태균/내         1         1         1         1         1         1
...                     ...       ...       ...       ...       ...       ...
         WO/장영석/내         0         0         0         0         0         0
         WO/주효상/포         0         1         1         0         0         0
         WO/초이스/외         1         1         1         1         1         1
         WO/허정협/외         0         0         0         0         0         0
         WO/홍성갑/외         0         0         0         0         0         0

GDAY_DS            20180331  20180401  20180403  20180404  ...  20181003  \
ENTRY_YN Player                                            ...
Y        HH/강경학/내         0         0         0         0  ...         0
         HH/강상원/외         0         1         0         0  ...         0
         HH/김민하/외         0         0         0         0  ...         0
         HH/김창혁/포         0         0         0         0  ...         0
         HH/김태균/내         1         0         0         0  ...         0
...                     ...       ...       ...       ...  ...       ...
         WO/장영석/내         1         1         1         0  ...         0
         WO/주효상/포         1         1         0         0  ...         0
         WO/초이스/외         1         1         1         1  ...         0
         WO/허정협/외         0         0         0         0  ...         0
         WO/홍성갑/외         0         0         0         0  ...         0

GDAY_DS            20181004  20181006  20181007  20181009  20181010  20181011  \
ENTRY_YN Player
Y        HH/강경학/내         0         0         0         0         0         0
         HH/강상원/외         0         0         0         0         0         0
         HH/김민하/외         1         0         0         0         0         0
         HH/김창혁/포         0         0         0         0         0         0
         HH/김태균/내         0         0         0         0         0         0
...                     ...       ...       ...       ...       ...       ...
         WO/장영석/내         0         0         0         0         0         0
         WO/주효상/포         0         0         0         0         0         0
         WO/초이스/외         0         0         0         0         0         0
         WO/허정협/외         0         0         0         0         0         0
         WO/홍성갑/외         0         0         0         0         0         0

GDAY_DS            20181012  20181013  20181014
ENTRY_YN Player
Y        HH/강경학/내         0         0         0
         HH/강상원/외         0         0         0
         HH/김민하/외         0         0         0
         HH/김창혁/포         0         0         0
         HH/김태균/내         0         0         0
...                     ...       ...       ...
         WO/장영석/내         0         0         0
         WO/주효상/포         0         0         0
         WO/초이스/외         0         0         0
         WO/허정협/외         0         0         0
         WO/홍성갑/외         0         0         0

[244 rows x 155 columns]

In [9]:
# 팀별로 선발타자
NC_EPY_18=EPY_18[EPY_18['T_ID']=='NC']
OB_EPY_18=EPY_18[EPY_18['T_ID']=='OB']
WO_EPY_18=EPY_18[EPY_18['T_ID']=='WO']
LG_EPY_18=EPY_18[EPY_18['T_ID']=='LG']
HT_EPY_18=EPY_18[EPY_18['T_ID']=='HT']
KT_EPY_18=EPY_18[EPY_18['T_ID']=='KT']
SS_EPY_18=EPY_18[EPY_18['T_ID']=='SS']
LT_EPY_18=EPY_18[EPY_18['T_ID']=='LT']
SK_EPY_18=EPY_18[EPY_18['T_ID']=='SK']
HH_EPY_18=EPY_18[EPY_18['T_ID']=='HH']

In [4]:
# 선발타자만 뽑기
PBS_18=PB_18[PB_18['START_CK']==1]

In [8]:
PBS_HT_18=pd.crosstab(HT_PBS_18.GDAY_DS,HT_PBS_18.P_ID)

In [11]:
PBS_HT_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_HT_2018.csv', sep=',', encoding='ms949')

In [9]:
PBS_OB_18=pd.crosstab(OB_PBS_18.GDAY_DS,OB_PBS_18.P_ID)

In [10]:
PBS_OB_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_OB_2018.csv', sep=',', encoding='ms949')

In [12]:
PBS_NC_18=pd.crosstab(NC_PBS_18.GDAY_DS,NC_PBS_18.P_ID)

In [13]:
PBS_NC_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_NC_2018.csv', sep=',', encoding='ms949')

### 조인

In [14]:
PB_18 = pd.read_csv('C:/Users/dudco/Desktop/data_kbo/PB_2018.csv',encoding='CP949')
P_18 = pd.read_csv('C:/Users/dudco/Desktop/data_kbo/P_2018.csv',encoding='CP949')

In [16]:
P_18 = P_18.rename({'PCODE': 'P_ID'}, axis='columns')

In [17]:
PBP_18=pd.merge(PB_18,P_18,on=['P_ID'],how='left')

In [18]:
PBP_18

,G_ID,GDAY_DS,T_ID_x,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,GYEAR,NAME,T_ID_y,POSITION,AGE_VA,MONEY
0,20180324HHWO0,20180324,HH,WO,0,T,60805,0,5,0,...,0,0.000000,0,0,2018,최윤석,HH,내,31,4800만원
1,20180324HHWO0,20180324,WO,HH,0,B,61353,1,6,4,...,0,0.000000,2,0,2018,고종욱,WO,외,29,11000만원
2,20180324HHWO0,20180324,HH,WO,0,T,62700,1,5,4,...,1,0.500000,2,1,2018,하주석,HH,내,24,12000만원
3,20180324HHWO0,20180324,HH,WO,0,T,62797,1,2,5,...,1,0.000000,2,0,2018,양성우,HH,외,29,10000만원
4,20180324HHWO0,20180324,WO,HH,0,B,64300,1,5,5,...,1,0.000000,2,0,2018,김하성,WO,내,23,32000만원
5,20180324HHWO0,20180324,WO,HH,0,B,64346,0,6,0,...,0,0.000000,0,0,2018,임병욱,WO,외,23,5000만원
6,20180324HHWO0,20180324,HH,WO,0,T,64717,0,8,1,...,0,0.000000,0,0,2018,지성준,HH,포,24,2800만원
7,20180324HHWO0,20180324,HH,WO,0,T,66702,0,4,0,...,1,0.000000,0,0,2018,이동훈,HH,외,22,3300만원
8,20180324HHWO0,20180324,HH,WO,0,T,66716,0,6,1,...,0,0.000000,1,0,2018,정경운,HH,내,25,3300만원
9,20180324HHWO0,20180324,WO,HH,0,B,67341,1,8,4,...,2,0.500000,2,1,2018,이정후,WO,외,20,11000만원
10,20180324HHWO0,20180324,WO,HH,0,B,67394,1,2,5,...,0,0.000000,2,0,2018,초이스,WO,외,29,600000달러
11,20180324HHWO0,20180324,HH,WO,0,T,68730,1,7,4,...,1,0.000000,0,0,2018,호잉,HH,외,29,400000달러
12,20180324HHWO0,20180324,HH,WO,0,T,71752,1,4,4,...,1,0.000000,0,0,2018,김태균,HH,내,36,140000만원
13,20180324HHWO0,20180324,HH,WO,0,T,74163,1,1,5,...,1,0.333333,3,1,2018,이용규,HH,외,33,40000만원
14,20180324HHWO0,20180324,WO,HH,0,B,75125,1,4,5,...,3,0.000000,1,0,2018,박병호,WO,내,32,150000만원
15,20180324HHWO0,20180324,HH,WO,0,T,75808,1,6,3,...,0,0.000000,1,0,2018,정근우,HH,내,36,70000만원
16,20180324HHWO0,20180324,WO,HH,0,B,76746,1,3,5,...,2,0.000000,0,0,2018,김태완,WO,내,34,6000만원
17,20180324HHWO0,20180324,HH,WO,0,T,76753,1,3,4,...,1,0.000000,0,0,2018,송광민,HH,내,35,24000만원
18,20180324HHWO0,20180324,WO,HH,0,B,77564,1,7,4,...,1,0.333333,3,1,2018,김민성,WO,내,30,35000만원
19,20180324HHWO0,20180324,WO,HH,0,B,78168,1,1,5,...,1,0.000000,1,0,2018,서건창,WO,내,29,38000만원
20,20180324HHWO0,20180324,HH,WO,0,T,78288,1,8,3,...,0,0.500000,2,1,2018,최재훈,HH,포,29,8000만원
21,20180324HHWO0,20180324,HH,WO,0,T,78756,1,9,4,...,1,0.000000,2,0,2018,오선진,HH,내,29,8600만원
22,20180324HHWO0,20180324,WO,HH,0,B,79300,0,1,0,...,0,0.000000,0,0,2018,김지수,WO,내,32,6200만원
23,20180324HHWO0,20180324,WO,HH,0,B,79365,1,9,4,...,1,0.500000,4,2,2018,박동원,WO,포,28,18000만원
24,20180324KTHT0,20180324,KT,HT,0,T,60558,0,8,0,...,0,0.000000,0,0,2018,오태곤,KT,내,27,8300만원
25,20180324KTHT0,20180324,HT,KT,0,B,62864,1,8,3,...,1,0.000000,1,0,2018,김민식,HT,포,29,15000만원
26,20180324KTHT0,20180324,HT,KT,0,B,63722,0,8,0,...,0,0.000000,0,0,2018,한승택,HT,포,24,7500만원
27,20180324KTHT0,20180324,KT,HT,0,T,64006,1,1,4,...,1,0.000000,0,0,2018,심우준,KT,내,23,6300만원
28,20180324KTHT0,20180324,HT,KT,0,B,66606,0,7,1,...,0,0.000000,0,0,2018,최원준,HT,내,21,7500만원
29,20180324KTHT0,20180324,KT,HT,0,T,67025,1,3,4,...,0,0.000000,1,0,2018,로하스,KT,외,28,800000달러
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18194,20181013WOSS0,20181013,WO,SS,0,T,77564,1,7,4,...,1,0.000000,0,0,2018,김민성,WO,내,30,35000만원
18195,20181013WOSS0,20181013,WO,SS,0,T,78168,1,5,4,...,1,0.000000,1,0,2018,서건창,WO,내,29,38000만원
18196,20181013WOSS0,20181013,WO,SS,0,T,79300,0,6,0,...,0,0.000000,0,0,2018,김지수,WO,내,32,6200만원
18197,20181013WOSS0,20181013,SS,WO,0,B,79402,1,2,5,...,2,0.500000,2,1,2018,김상수,SS,내,28,24000만원
18198,20181013WOSS0,20181013,SS,WO,0,B,79456,1,7,5,...,2,0.000000,0,0,2018,이지영,SS,포,32,21000만원
18199,20181014OBLT0,20181014,LT,OB,0,B,60523,1,5,4,...,1,0.000000,0,0,2018,정훈,LT,내,31,10000만원
18200,20181014OBLT0,20181014,LT,OB,0,B,61204,1,7,3,...,0,0.000000,1,0,2018,김동한,LT,내,30,6300만원
18201,20181014OBLT0,20181014,OB,LT,0,T,61208,1,2,4,...,1,0.000000,0,0,2018,정진호,OB,외,30,8500만원
18202,20181014OBLT0,20181014,OB,LT,0,T,62234,0,5,1,...,0,0.000000,0,0,2018,류지혁,OB,내,24,9500만원
18203,20181014OBLT0,20181014,OB,LT,0,T,62244,1,8,4,...,1,0.000000,0,0,2018,박세혁,OB,포,28,10000만원
18204,20181014OBLT0,20181014,OB,LT,0,T,63257,0,4,1,...,0,0.000000,0,0,2018,김인태,OB,외,24,3200만원
18205,20181014OBLT0,20181014,OB,LT,0,T,63559,1,7,4,...,1,0.000000,0,0,2018,백민기,OB,외,28,3000만원
18206,20181014OBLT0,20181014,LT,OB,0,B,63593,0,2,0,...,0,0.000000,0,0,2018,조홍석,LT,외,28,2800만원
18207,20181014OBLT0,20181014,LT,OB,0,B,64022,1,9,3,...,0,0.000000,1,0,2018,안중열,LT,포,23,2800만원
18208,20181014OBLT0,20181014,LT,OB,0,B,65586,1,6,4,...,2,0.000000,0,0,2018,전병우,LT,내,26,2700만원
18209,20181014OBLT0,20181014,LT,OB,0,B,66508,1,2,3,...,0,0.000000,0,0,2018,나경민,LT,외,27,5800만원
18210,20181014OBLT0,20181014,OB,LT,0,T,67207,1,9,4,...,0,0.000000,1,0,2018,이병휘,OB,내,20,2700만원
18211,20181014OBLT0,20181014,LT,OB,0,B,67598,0,7,1,...,0,0.000000,1,0,2018,번즈,LT,내,28,730000달러
18212,20181014OBLT0,20181014,OB,LT,0,T,68205,0,1,2,...,1,0.500000,2,1,2018,전민재,OB,내,19,2700만원
18213,20181014OBLT0,20181014,LT,OB,0,B,68525,1,8,3,...,1,0.000000,0,0,2018,한동희,LT,내,19,2700만원
18214,20181014OBLT0,20181014,LT,OB,0,B,71564,0,2,1,...,0,0.000000,0,0,2018,이대호,LT,내,36,250000만원
18215,20181014OBLT0,20181014,OB,LT,0,T,75334,1,6,4,...,1,1.000000,1,1,2018,오재일,OB,내,32,30000만원
18216,20181014OBLT0,20181014,OB,LT,0,T,76232,1,4,3,...,0,0.000000,1,0,2018,양의지,OB,포,31,60000만원
18217,20181014OBLT0,20181014,LT,OB,0,B,76249,1,1,4,...,1,0.000000,0,0,2018,민병헌,LT,외,31,100000만원
18218,20181014OBLT0,20181014,OB,LT,0,T,76267,1,5,3,...,0,0.000000,1,0,2018,최주환,OB,내,30,20000만원
18219,20181014OBLT0,20181014,LT,OB,0,B,76509,0,4,1,...,0,0.000000,0,0,2018,김문호,LT,외,31,15000만원
18220,20181014OBLT0,20181014,LT,OB,0,B,77532,1,3,4,...,0,0.000000,0,0,2018,손아섭,LT,외,30,150000만원
18221,20181014OBLT0,20181014,LT,OB,0,B,78513,1,4,3,...,1,0.000000,0,0,2018,전준우,LT,외,32,27000만원
18222,20181014OBLT0,20181014,OB,LT,0,T,79215,1,3,4,...,0,0.000000,0,0,2018,박건우,OB,외,28,37000만원
18223,20181014OBLT0,20181014,OB,LT,0,T,79240,1,1,3,...,0,0.000000,0,0,2018,허경민,OB,내,28,26500만원

In [28]:
PBP_18['NP']=PBP_18['NAME']+'/'+PBP_18['POSITION']

In [29]:
PBP_18

,G_ID,GDAY_DS,T_ID_x,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,P_AB_CN,P_HIT_CN,GYEAR,NAME,T_ID_y,POSITION,AGE_VA,MONEY,N_P,NP
0,20180324HHWO0,20180324,HH,WO,0,T,60805,0,5,0,...,0,0,2018,최윤석,HH,내,31,4800만원,최윤석/내,최윤석/내
1,20180324HHWO0,20180324,WO,HH,0,B,61353,1,6,4,...,2,0,2018,고종욱,WO,외,29,11000만원,고종욱/외,고종욱/외
2,20180324HHWO0,20180324,HH,WO,0,T,62700,1,5,4,...,2,1,2018,하주석,HH,내,24,12000만원,하주석/내,하주석/내
3,20180324HHWO0,20180324,HH,WO,0,T,62797,1,2,5,...,2,0,2018,양성우,HH,외,29,10000만원,양성우/외,양성우/외
4,20180324HHWO0,20180324,WO,HH,0,B,64300,1,5,5,...,2,0,2018,김하성,WO,내,23,32000만원,김하성/내,김하성/내
5,20180324HHWO0,20180324,WO,HH,0,B,64346,0,6,0,...,0,0,2018,임병욱,WO,외,23,5000만원,임병욱/외,임병욱/외
6,20180324HHWO0,20180324,HH,WO,0,T,64717,0,8,1,...,0,0,2018,지성준,HH,포,24,2800만원,지성준/포,지성준/포
7,20180324HHWO0,20180324,HH,WO,0,T,66702,0,4,0,...,0,0,2018,이동훈,HH,외,22,3300만원,이동훈/외,이동훈/외
8,20180324HHWO0,20180324,HH,WO,0,T,66716,0,6,1,...,1,0,2018,정경운,HH,내,25,3300만원,정경운/내,정경운/내
9,20180324HHWO0,20180324,WO,HH,0,B,67341,1,8,4,...,2,1,2018,이정후,WO,외,20,11000만원,이정후/외,이정후/외
10,20180324HHWO0,20180324,WO,HH,0,B,67394,1,2,5,...,2,0,2018,초이스,WO,외,29,600000달러,초이스/외,초이스/외
11,20180324HHWO0,20180324,HH,WO,0,T,68730,1,7,4,...,0,0,2018,호잉,HH,외,29,400000달러,호잉/외,호잉/외
12,20180324HHWO0,20180324,HH,WO,0,T,71752,1,4,4,...,0,0,2018,김태균,HH,내,36,140000만원,김태균/내,김태균/내
13,20180324HHWO0,20180324,HH,WO,0,T,74163,1,1,5,...,3,1,2018,이용규,HH,외,33,40000만원,이용규/외,이용규/외
14,20180324HHWO0,20180324,WO,HH,0,B,75125,1,4,5,...,1,0,2018,박병호,WO,내,32,150000만원,박병호/내,박병호/내
15,20180324HHWO0,20180324,HH,WO,0,T,75808,1,6,3,...,1,0,2018,정근우,HH,내,36,70000만원,정근우/내,정근우/내
16,20180324HHWO0,20180324,WO,HH,0,B,76746,1,3,5,...,0,0,2018,김태완,WO,내,34,6000만원,김태완/내,김태완/내
17,20180324HHWO0,20180324,HH,WO,0,T,76753,1,3,4,...,0,0,2018,송광민,HH,내,35,24000만원,송광민/내,송광민/내
18,20180324HHWO0,20180324,WO,HH,0,B,77564,1,7,4,...,3,1,2018,김민성,WO,내,30,35000만원,김민성/내,김민성/내
19,20180324HHWO0,20180324,WO,HH,0,B,78168,1,1,5,...,1,0,2018,서건창,WO,내,29,38000만원,서건창/내,서건창/내
20,20180324HHWO0,20180324,HH,WO,0,T,78288,1,8,3,...,2,1,2018,최재훈,HH,포,29,8000만원,최재훈/포,최재훈/포
21,20180324HHWO0,20180324,HH,WO,0,T,78756,1,9,4,...,2,0,2018,오선진,HH,내,29,8600만원,오선진/내,오선진/내
22,20180324HHWO0,20180324,WO,HH,0,B,79300,0,1,0,...,0,0,2018,김지수,WO,내,32,6200만원,김지수/내,김지수/내
23,20180324HHWO0,20180324,WO,HH,0,B,79365,1,9,4,...,4,2,2018,박동원,WO,포,28,18000만원,박동원/포,박동원/포
24,20180324KTHT0,20180324,KT,HT,0,T,60558,0,8,0,...,0,0,2018,오태곤,KT,내,27,8300만원,오태곤/내,오태곤/내
25,20180324KTHT0,20180324,HT,KT,0,B,62864,1,8,3,...,1,0,2018,김민식,HT,포,29,15000만원,김민식/포,김민식/포
26,20180324KTHT0,20180324,HT,KT,0,B,63722,0,8,0,...,0,0,2018,한승택,HT,포,24,7500만원,한승택/포,한승택/포
27,20180324KTHT0,20180324,KT,HT,0,T,64006,1,1,4,...,0,0,2018,심우준,KT,내,23,6300만원,심우준/내,심우준/내
28,20180324KTHT0,20180324,HT,KT,0,B,66606,0,7,1,...,0,0,2018,최원준,HT,내,21,7500만원,최원준/내,최원준/내
29,20180324KTHT0,20180324,KT,HT,0,T,67025,1,3,4,...,1,0,2018,로하스,KT,외,28,800000달러,로하스/외,로하스/외
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18194,20181013WOSS0,20181013,WO,SS,0,T,77564,1,7,4,...,0,0,2018,김민성,WO,내,30,35000만원,김민성/내,김민성/내
18195,20181013WOSS0,20181013,WO,SS,0,T,78168,1,5,4,...,1,0,2018,서건창,WO,내,29,38000만원,서건창/내,서건창/내
18196,20181013WOSS0,20181013,WO,SS,0,T,79300,0,6,0,...,0,0,2018,김지수,WO,내,32,6200만원,김지수/내,김지수/내
18197,20181013WOSS0,20181013,SS,WO,0,B,79402,1,2,5,...,2,1,2018,김상수,SS,내,28,24000만원,김상수/내,김상수/내
18198,20181013WOSS0,20181013,SS,WO,0,B,79456,1,7,5,...,0,0,2018,이지영,SS,포,32,21000만원,이지영/포,이지영/포
18199,20181014OBLT0,20181014,LT,OB,0,B,60523,1,5,4,...,0,0,2018,정훈,LT,내,31,10000만원,정훈/내,정훈/내
18200,20181014OBLT0,20181014,LT,OB,0,B,61204,1,7,3,...,1,0,2018,김동한,LT,내,30,6300만원,김동한/내,김동한/내
18201,20181014OBLT0,20181014,OB,LT,0,T,61208,1,2,4,...,0,0,2018,정진호,OB,외,30,8500만원,정진호/외,정진호/외
18202,20181014OBLT0,20181014,OB,LT,0,T,62234,0,5,1,...,0,0,2018,류지혁,OB,내,24,9500만원,류지혁/내,류지혁/내
18203,20181014OBLT0,20181014,OB,LT,0,T,62244,1,8,4,...,0,0,2018,박세혁,OB,포,28,10000만원,박세혁/포,박세혁/포
18204,20181014OBLT0,20181014,OB,LT,0,T,63257,0,4,1,...,0,0,2018,김인태,OB,외,24,3200만원,김인태/외,김인태/외
18205,20181014OBLT0,20181014,OB,LT,0,T,63559,1,7,4,...,0,0,2018,백민기,OB,외,28,3000만원,백민기/외,백민기/외
18206,20181014OBLT0,20181014,LT,OB,0,B,63593,0,2,0,...,0,0,2018,조홍석,LT,외,28,2800만원,조홍석/외,조홍석/외
18207,20181014OBLT0,20181014,LT,OB,0,B,64022,1,9,3,...,1,0,2018,안중열,LT,포,23,2800만원,안중열/포,안중열/포
18208,20181014OBLT0,20181014,LT,OB,0,B,65586,1,6,4,...,0,0,2018,전병우,LT,내,26,2700만원,전병우/내,전병우/내
18209,20181014OBLT0,20181014,LT,OB,0,B,66508,1,2,3,...,0,0,2018,나경민,LT,외,27,5800만원,나경민/외,나경민/외
18210,20181014OBLT0,20181014,OB,LT,0,T,67207,1,9,4,...,1,0,2018,이병휘,OB,내,20,2700만원,이병휘/내,이병휘/내
18211,20181014OBLT0,20181014,LT,OB,0,B,67598,0,7,1,...,1,0,2018,번즈,LT,내,28,730000달러,번즈/내,번즈/내
18212,20181014OBLT0,20181014,OB,LT,0,T,68205,0,1,2,...,2,1,2018,전민재,OB,내,19,2700만원,전민재/내,전민재/내
18213,20181014OBLT0,20181014,LT,OB,0,B,68525,1,8,3,...,0,0,2018,한동희,LT,내,19,2700만원,한동희/내,한동희/내
18214,20181014OBLT0,20181014,LT,OB,0,B,71564,0,2,1,...,0,0,2018,이대호,LT,내,36,250000만원,이대호/내,이대호/내
18215,20181014OBLT0,20181014,OB,LT,0,T,75334,1,6,4,...,1,1,2018,오재일,OB,내,32,30000만원,오재일/내,오재일/내
18216,20181014OBLT0,20181014,OB,LT,0,T,76232,1,4,3,...,1,0,2018,양의지,OB,포,31,60000만원,양의지/포,양의지/포
18217,20181014OBLT0,20181014,LT,OB,0,B,76249,1,1,4,...,0,0,2018,민병헌,LT,외,31,100000만원,민병헌/외,민병헌/외
18218,20181014OBLT0,20181014,OB,LT,0,T,76267,1,5,3,...,1,0,2018,최주환,OB,내,30,20000만원,최주환/내,최주환/내
18219,20181014OBLT0,20181014,LT,OB,0,B,76509,0,4,1,...,0,0,2018,김문호,LT,외,31,15000만원,김문호/외,김문호/외
18220,20181014OBLT0,20181014,LT,OB,0,B,77532,1,3,4,...,0,0,2018,손아섭,LT,외,30,150000만원,손아섭/외,손아섭/외
18221,20181014OBLT0,20181014,LT,OB,0,B,78513,1,4,3,...,0,0,2018,전준우,LT,외,32,27000만원,전준우/외,전준우/외
18222,20181014OBLT0,20181014,OB,LT,0,T,79215,1,3,4,...,0,0,2018,박건우,OB,외,28,37000만원,박건우/외,박건우/외
18223,20181014OBLT0,20181014,OB,LT,0,T,79240,1,1,3,...,0,0,2018,허경민,OB,내,28,26500만원,허경민/내,허경민/내

In [33]:
# 선발타자만 뽑기
PBS_18=PBP_18[PBP_18['START_CK']==1]

In [36]:
# 팀별로 선발타자
NC_PBS_18=PBS_18[PBS_18['T_ID_x']=='NC']
OB_PBS_18=PBS_18[PBS_18['T_ID_x']=='OB']
WO_PBS_18=PBS_18[PBS_18['T_ID_x']=='WO']
LG_PBS_18=PBS_18[PBS_18['T_ID_x']=='LG']
HT_PBS_18=PBS_18[PBS_18['T_ID_x']=='HT']
KT_PBS_18=PBS_18[PBS_18['T_ID_x']=='KT']
SS_PBS_18=PBS_18[PBS_18['T_ID_x']=='SS']
LT_PBS_18=PBS_18[PBS_18['T_ID_x']=='LT']
SK_PBS_18=PBS_18[PBS_18['T_ID_x']=='SK']
HH_PBS_18=PBS_18[PBS_18['T_ID_x']=='HH']

In [37]:
PBS_OB_18=pd.crosstab(OB_PBS_18.GDAY_DS,OB_PBS_18.NP)

In [39]:
PBS_OB_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_OB_2018.csv', sep=',', encoding='ms949')

In [40]:
PBS_NC_18=pd.crosstab(NC_PBS_18.GDAY_DS,NC_PBS_18.NP)

In [41]:
PBS_NC_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_NC_2018.csv', sep=',', encoding='ms949')

In [42]:
PBS_HT_18=pd.crosstab(HT_PBS_18.GDAY_DS,HT_PBS_18.NP)

In [43]:
PBS_HT_18.to_csv('C:/Users/dudco/Desktop/data_kbo/PBS_HT_2018.csv', sep=',', encoding='ms949')