## 안타 모델

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
team = pd.read_csv('C:/Users/dudco/Desktop/SVT_code/team.csv', encoding='CP949')

In [3]:
team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6400 non-null   int64
 1   G_ID        6400 non-null   object
 2   GDAY_DS     6400 non-null   int64
 3   T_ID        6400 non-null   object
 4   VS_T_ID     6400 non-null   object
 5   HEADER_NO   6400 non-null   int64
 6   TB_SC       6400 non-null   object
 7   CG_CK       6400 non-null   int64
 8   WLS         6400 non-null   object
 9   HOLD        6400 non-null   int64
 10  INN2        6400 non-null   int64
 11  BF          6400 non-null   int64
 12  VS_PA       6400 non-null   int64
 13  VS_AB       6400 non-null   int64
 14  VS_HIT      6400 non-null   int64
 15  VS_H2       6400 non-null   int64
 16  VS_H3       6400 non-null   int64
 17  VS_HR       6400 non-null   int64
 18  VS_SB       6400 non-null   int64
 19  VS_CS       6400 non-null   int64
 20  VS_SH       6400 non-null   int64
 21  VS_SF       6400 non-null   int64
 22  VS_BB       6400 non-null   int64
 23  VS_IB       6400 non-null   int64
 24  VS_HP       6400 non-null   int64
 25  VS_KK       6400 non-null   int64
 26  VS_GD       6400 non-null   int64
 27  WP          6400 non-null   int64
 28  BK          6400 non-null   int64
 29  P_ERR       6400 non-null   int64
 30  R           6400 non-null   int64
 31  ER          6400 non-null   int64
 32  P_WHIP_RT   6400 non-null   float64
 33  P2_WHIP_RT  6400 non-null   float64
 34  CB_WHIP_RT  6400 non-null   float64
 35  PA          6400 non-null   int64
 36  AB          6400 non-null   int64
 37  RBI         6400 non-null   int64
 38  RUN         6400 non-null   int64
 39  HIT         6400 non-null   int64
 40  H2          6400 non-null   int64
 41  H3          6400 non-null   int64
 42  HR          6400 non-null   int64
 43  SB          6400 non-null   int64
 44  CS          6400 non-null   int64
 45  SH          6400 non-null   int64
 46  SF          6400 non-null   int64
 47  BB          6400 non-null   int64
 48  IB          6400 non-null   int64
 49  HP          6400 non-null   int64
 50  KK          6400 non-null   int64
 51  GD          6400 non-null   int64
 52  H_ERR       6400 non-null   int64
 53  LOB         6400 non-null   int64
 54  P_HRA_RT    6400 non-null   float64
 55  P_AB_CN     6400 non-null   int64
 56  P_HIT_CN    6400 non-null   int64
 57  VISIT_KEY   6400 non-null   object
 58  HOME_KEY    6400 non-null   object
 59  GWEEK       6400 non-null   object
 60  STADIUM     6400 non-null   object
dtypes: float64(4), int64(48), object(9)
memory usage: 3.0+ MB

In [4]:
team.describe()

,Unnamed: 0,GDAY_DS,HEADER_NO,CG_CK,HOLD,INN2,BF,VS_PA,VS_AB,VS_HIT,...,BB,IB,HP,KK,GD,H_ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
count,6400.000000,6.400000e+03,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,...,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000
mean,3199.500000,2.017815e+07,0.009375,0.013437,0.406719,26.628750,151.882656,39.376562,34.759062,9.780938,...,3.355156,0.110469,0.566562,6.935469,0.804531,0.600469,7.494844,0.265094,9.178750,2.631250
std,1847.665193,1.297423e+04,0.124658,0.115148,0.776502,2.172291,23.894167,5.280009,4.297327,3.750103,...,2.140981,0.360778,0.779448,2.649510,0.873680,0.802539,2.690988,0.170009,4.238689,2.107657
min,0.000000,2.016040e+07,0.000000,0.000000,0.000000,13.000000,59.000000,17.000000,15.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1599.750000,2.017042e+07,0.000000,0.000000,0.000000,26.000000,135.000000,36.000000,32.000000,7.000000,...,2.000000,0.000000,0.000000,5.000000,0.000000,0.000000,6.000000,0.142857,6.000000,1.000000
50%,3199.500000,2.018050e+07,0.000000,0.000000,0.000000,27.000000,150.000000,39.000000,34.000000,9.000000,...,3.000000,0.000000,0.000000,7.000000,1.000000,0.000000,7.000000,0.250000,9.000000,2.000000
75%,4799.250000,2.019052e+07,0.000000,0.000000,1.000000,27.000000,166.000000,43.000000,37.000000,12.000000,...,5.000000,0.000000,1.000000,9.000000,1.000000,1.000000,9.000000,0.375000,12.000000,4.000000
max,6399.000000,2.020072e+07,2.000000,1.000000,5.000000,36.000000,272.000000,65.000000,54.000000,29.000000,...,13.000000,4.000000,5.000000,18.000000,5.000000,5.000000,22.000000,1.000000,32.000000,15.000000

### AVG (타율)

In [6]:
team['AVG']=team['HIT']/team['AB']
team['AVG']

0       0.214286
1       0.282609
2       0.300000
3       0.235294
4       0.277778
          ...
6395    0.206897
6396    0.250000
6397    0.297297
6398    0.200000
6399    0.212121
Name: AVG, Length: 6400, dtype: float64

### OBP (출루율)

In [8]:
team['OBP']=(team['HIT']+team['BB']+team['HP'])/(team['AB']+team['BB']+team['HP']+team['SF'])
team['OBP']

0       0.282609
1       0.326531
2       0.400000
3       0.315789
4       0.277778
          ...
6395    0.233333
6396    0.368421
6397    0.365854
6398    0.351351
6399    0.297297
Name: OBP, Length: 6400, dtype: float64

### H1 (1루타)

In [9]:
team['H1']=team['HIT']-team['H2']-team['H3']-team['HR']
team['H1']

0        6
1       11
2        5
3        4
4        4
        ..
6395     4
6396     7
6397     7
6398     6
6399     6
Name: H1, Length: 6400, dtype: int64

### SLG (장타율)

In [ ]:
team